# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
coverage
__snapshots__
_snapshots_


# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
